/* Hero Section Styling */
.hero-section {
    position: relative; /* Make sure the positioning context is set for the hero section */
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: space-between; /* Space out the text and any additional content */
    padding: 30px 0px 0px 30%; /* Add some padding */
    background-image: url('../Assets/herobackground2.jpg'); /* Path to your image */
    background-position: right center; /* Align the background image to the right and vertically center */
    background-size: cover; /* Cover the entire area of the hero section, might crop the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 700px; /* Set a fixed height or adjust as needed */
    color: #f6cf4d; /* Set the text color to white or as needed */
    margin-top: '70px'
    
}

.hero-section::after {
    content: "";
    display: block;
    height: 50px; /* Adjust the height to manage the space below the hero section */
}


/* Text Container Styling */
.text-container {
   width: 1000px; /* Sets the maximum width of the text container */
}

.text-container h1 {
    font-size: 2.5rem; /* Large text for the main headline */
    margin-bottom: 1rem; /* Space below the headline */
    color: #6d150b; /* Dark text color, adjust as needed */
    width: 100%;
}

.welcome_message {
    width: 100%;
}

.text-container .subheading {
    font-size: 1.5rem; /* Smaller text for the subheading */
    margin-bottom: 2rem; /* Space below the subheading */
    color: #6d150b; /* Slightly lighter text color, adjust as needed */
}

/* Buttons Container Styling */
.buttons-container {
    /* Aligns buttons next to each other */
    display: flex;
}

.buttons-container .btn {
    margin-right: 10px; /* Space between buttons */
    padding: 10px 20px; /* Padding inside the buttons, adjust as needed */
    font-size: 1rem; /* Sets the font size inside the buttons */
    cursor: pointer; /* Changes cursor to pointer on hover */
}

.buttons-container .btn-primary {
    background-color: #eed34d; /* Primary button color, adjust as needed */
    border: none; /* Removes border */
    color: rgb(3, 3, 3); /* Text color for primary button */
}

.buttons-container .btn-secondary {
    background-color: #eed34d; /* Secondary button color, adjust as needed */
    border: none; /* Removes border */
    color: #050505; /* Text color for secondary button */
    font-style: italic;
}

.image-gallery {
    position: relative;
    /* Set a specific height or leave it auto if you want the container to grow with the content */
    height: 50px;
    /* Ensure the gallery has a maximum width or specific width */
    max-width: 60px; /* Adjust this value based on your design needs */
    align-items: center;
    margin: 0 auto; /* This will center the gallery if within a flex container */
}
